body
{
	background-color: #333;
}
#main
{
	display: flex;
	justify-content: center;
}

#can
{
	background-color: #333;
	border: 1px solid #777;
}

#field
{
	display: flex;
	justify-content: space-around;
}

#input
{
	all: unset;
	display: flex;
	background-color: #333;
	color: #aaa;
	width: 40%;
    padding: 5px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid #aaa;
}

#input:focus
{
	all: unset;
	display: flex;
	background-color: #333;
	color: #aaa;
	width: 40%;
    padding: 5px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1.5px solid #aaa;
}

.sub
{
	background-color: #999;
	border: 1px solid #999;
	border-radius: 3px;
	color: #ddd;
	width: 75px;
	height: 35px;
}












